autobahn==0.13.0
Twisted==16.0.0
docopt>=0.6.2
service-identity>=14.0.0
treq>=15.0.0
pyOpenSSL>=0.15.1
txaio==2.2.2
ecdsa==0.13
python-jose==0.6.1
git+https://github.com/sidnei/txstatsd.git@3cf92ce#egg=txstatsd
