autobahn==0.10.9
cffi==1.3.1
cryptography==1.1.1
enum34==1.1.1
greenlet==0.4.9
idna==2.0
ipaddress==1.0.15
pyasn1==0.1.9
pyOpenSSL==0.15.1
readline==6.2.4.1
six==1.10.0
Twisted==15.5.0
txaio==2.1.0
zope.interface==4.1.3
